@use "../../styles/styles.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins" as *;

.list {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.list-wrapper {
  overflow: hidden;
  transition: max-height 4s ease, opacity 4s ease;
  max-height: 100rem; // assume this is taller than your list ever will be
  opacity: 1;

  &--hidden {
    max-height: 0;
    opacity: 0;
  }
}

.fade-in-list {
  opacity: 0;
  transform: translateY(-2rem);
  animation: fadeIn 1.5s ease forwards;
}
.fade-out-list {
    opacity: 1;
    transform: translateY(0);
    animation: fadeOut 1.5s ease forwards;
}
