@use "../../styles/styles.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins" as *;

.list {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    @include tablet {
      flex-direction: column;
      
      > *:nth-child(odd) {
        align-self: flex-start;
        border-radius:  2rem 2rem 2rem 0;
        border-left: none;
        border-right: 2px solid $calm-accent;
      }

      > *:nth-child(even) {
        align-self: flex-end;
        & p {
          justify-content: flex-start;
        }
      }
    }
    &-wrapper {
      overflow: hidden;
      transition: max-height 3.5s ease, opacity 4s ease;
      max-height: 50rem; // assume this is taller than list will ever be
      opacity: 1;
      @include tablet {
        max-height: 90rem;
      }
      @include desktop {
        max-height: 100rem;
      }
    }
    &-wrapper--hidden {
      max-height: 0;
      opacity: 0;
    }
}

