@use "../../styles/styles.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins" as *;

.quote {
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius:  1rem 1rem 0 1rem;
    box-shadow: 0 0 0.1rem $calm-black;
    transition: all 1s ease;
    width: 33%;
    border-left: 1px solid $calm-accent;
    border-top: 1px solid $calm-accent;
    @include tablet {
        width: 80%;
        margin: 2rem;
        padding: 0.8rem 2rem;
        // box-shadow: 0 0 0.4rem $calm-accent;
        // border: 1px solid $calm-black;
        border-left: 2px solid $calm-accent;
        border-top: 2px solid $calm-accent;
        border-radius:  2rem 2rem 0 2rem;
    }
    @include desktop {
        width: 50%;
        margin: 2rem 4rem;
        box-shadow: 0 0 0.4rem $calm-semiblack;
    }
    &__content {
        font-weight: 300;
        border-bottom: 1px solid $calm-accent;
        padding-bottom: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.3rem;
        @include tablet {
            border-bottom: 2px solid $calm-accent;
        }
        @include desktop {
            font-size: 1.75rem;
        }
    }
    &__author {
        display: flex;
        justify-content: end;
        font-style: italic;
        margin: 0.5rem 0 0 0;
        @include tablet {
            margin: 1rem 0;
        }
    }
    &__curly {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        background-image: url("../../assets/images/quote-curl.svg");
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 0.5rem;
        @include tablet {
            width: 2rem;
            height: 2rem;
        }
    }
}