@use "../../styles/partials/variables.scss" as *;

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin desktop {
    @media screen and (min-width: 1280px) {
        @content;
    }
}

//hero animation
@keyframes breathe {
    0%{ opacity: 0; }
    45% { opacity: 1; }
    55% { opacity: 1; }
    100% { opacity: 0; }
}
//logo animation
@keyframes breathe-inverse {
    0%{ opacity: 1; }
    45% { opacity: 0; }
    55% { opacity: 0; }
    100% { opacity: 1; }
}

//inspire me button animation
@keyframes pulse {
  0% { transform: scale(1); box-shadow: 0; }
  50% { transform: scale(1.05); box-shadow: 0 0 0.5rem $calm-accent; }
  100% { transform: scale(1); box-shadow: 0; }
}
//fade in animation
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
//fade out animation
@keyframes fadeOut {
  to {
    opacity: 0;
    display: none;
  }
}

//firefeed flicker animation
@keyframes flicker {
  0%   { transform: scale(1) rotate(0deg); opacity: 1; }
  10%  { transform: scale(1.01) rotate(-0.3deg); opacity: 0.95; }
  20%  { transform: scale(0.98) rotate(0.2deg); opacity: 1; }
  30%  { transform: scale(1.02) rotate(-0.8deg); opacity: 0.92; }
  40%  { transform: scale(0.99) rotate(0.1deg); opacity: 1; }
  50%  { transform: scale(1) rotate(-0.1deg); opacity: 0.87; }
  60%  { transform: scale(1.01) rotate(0.3deg); opacity: 1; }
  70%  { transform: scale(1.03) rotate(-0.4deg); opacity: 0.9; }
  80%  { transform: scale(0.99) rotate(0.2deg); opacity: 1; }
  90%  { transform: scale(1.02) rotate(-0.2deg); opacity: 0.96; }
  100% { transform: scale(1) rotate(0deg); opacity: 1; }
}
//firefeed float up animation
@keyframes floatUp {
    0% { opacity: 1; transform: translate(-50%, 0);}
    70% { background: rgba(253, 44, 44, 0.5);}
    100% { opacity: 0; transform: translate(-50%, -24rem); background: black;}
}