
@font-face {
    src: url("../../assets/fonts/Albert_Sans/AlbertSans-VariableFont_wght.ttf");
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}