@use "./typography" as *;

// primary font
$primary-font: "AlbertSans", sans-serif;

// primary colours
$calm-main: rgb(237, 246, 255); //almost blue
$calm-body: rgb(250, 250, 250); //a bit darker than white
$calm-accent: rgb(53, 151, 248);
$calm-black: rgb(45, 45, 45);

//secondary colours
$calm-secondary: rgb(232, 255, 86); //secondary accent
$calm-semiblack: rgb(95, 95, 95);
$calm-error: rgb(203, 38, 38); //if needed