@use "./typography" as *;

// primary font
$primary-font: "AlbertSans", sans-serif;

// primary colours
$calm-main: rgb(219, 237, 255); //almost blue
$calm-accent: rgb(53, 151, 248);
$calm-black: rgb(45, 45, 45);


//secondary colours
