@use "../../styles/styles.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14rem;
  width: 100vw;
  margin-bottom: 4rem;
  &__text {
    font-size: 4rem;
    font-weight: 300;
    color: $calm-accent;
    font-style: italic;
    font-family: fangsong;
    position: relative;
  }
  &__text-span {
    transition: all 0.3s ease;
    animation: breathe 8s infinite;
  }
}
