@use "../../styles/styles.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

#form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    z-index: 1;
    @include tablet {
        margin: 2rem 1.5rem 1.5rem;
    }
    @include desktop {
        margin: 3rem 14rem;
    }
    & label {
        font-size: 1rem;
        @include tablet {
            font-size: 1.3rem;
        }
        @include desktop {
            font-size: 22px;
        }
    }
}

.form {
    &__name {
        font-size: 1rem;
        padding: 0 1rem;
        margin-bottom: 1rem;
        border: 2px solid $calm-body;
        border-radius: 1rem;
        background-color: $calm-body;
        height: 3rem;
        margin: 1rem 0;
        transition: all 2s ease;
        @include desktop {
            font-size: 1.25rem;
            margin-bottom: 2rem;
        }
    }
    &__name:focus-visible {
        outline-width: 0;
    }
    &__name:focus {
        border: 2px solid $calm-accent;
        background-color: white;
    }
    &__name--invalid {
        border: 2px solid red;
    }
    &__name--disappear {
        opacity: 0;
        transition: all 1.75s ease;
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 25rem;
        transition: all 2s ease;
        @include tablet {
            width: 30rem;
        }
        @include desktop {
            width: 42rem;
        }
    }

    &__container-indiv {
        display: flex;
        flex-direction: column;
        transition: all 2s ease;
        width: 100%; //specify width for transitions
    }
    &__container-indiv--shrink {
        transition: all 2s ease;
        opacity: 0.2;
        width: 0;
    }


    &__reflection {
        font-size: 1rem;
        font-family: inherit;
        font-style: normal;
        padding: 0.5rem;
        height: 10rem;
        resize: none;
        border: 2px solid $calm-body;
        border-radius: 1rem;
        background-color: $calm-body;
        margin-bottom: 2rem;
        transition: all 2s ease;
        @include tablet {
            margin-bottom: 2rem;
            font-size: 1.15rem;
            height: 14rem;
        }
        @include desktop {
            font-size: 1.25rem;
            margin-bottom: 3rem;
        }
    }
    &__reflection:focus-visible {
        outline-width: 0;
    }
    &__reflection:focus {
        border: 2px solid $calm-accent;
        background-color: white;
        box-shadow: 0 0 1rem $calm-accent;
    }
    &__reflection--invalid {
        border: 2px solid red;
    }

    &__sign {
        display: flex;
        align-items: flex-start;
        @include tablet {
            align-items: center;
        }
    }
    &__checkbox {
        margin-right: 0.5rem;
        cursor: pointer;
    }

    &__btn {
        font-size: 1rem;
        padding: 0.75rem 1rem;
        color: $calm-accent;
        background-color: $calm-main;
        box-shadow: 0 0 0.1rem;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
        transition: all 1s ease;
        @include tablet {
            padding: 1rem 1.3rem;
            border-radius: 1.5rem;
            font-size: 1.2rem;
        }
        &:hover {
            background-color: $calm-accent;
            color: $calm-main;
            box-shadow: 0 0 0.1rem;
        }
    }
    &__btn-container {
       display: flex;
       justify-content: end; 
       transition: all 2s ease;
    }
    &__btn-container--shift-up {
        margin-top: -5rem;
        @include tablet {
            margin-top: -6rem;
        }
    }
}

.status--error {
    display: flex;
    color: $calm-flame;
}

