@use "../../styles/styles.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins" as *;

.reflection {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin-top: 4rem;
    color: $calm-black;
    background-color: $calm-main;
    &__header {
        // color: $calm-black;
        text-align: center;
        padding: 4rem;
        border-bottom: 1px solid black;
    }
    &__sub-header {
        // color: $calm-black;
        margin: 2rem 0 0;
        text-align: center;
        width: 70%;
        font-weight: 400;
    }
    span {
        font-style: italic;
        color: $calm-accent;
    }
}