@use "../../styles/styles.scss" as *;
@use "../../styles/partials/variables.scss" as *;
@use "../../styles/partials/mixins" as *;

.flame-container {
  display: inline-block;
  animation: flicker 1.5s infinite ease-in-out;
  transform-origin: center;
}

