@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

a {
    text-decoration: none;
    color: $calm-black;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    &__logo {
        transition: opacity 2s ease-in-out 2s;
        cursor: pointer;
        @include tablet {
            font-size: 2.5rem;
        }
        &:hover {
            color: $calm-accent;
            animation:  4s ease 0s infinite reverse forwards running breathe-inverse;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        padding: 0px;
    }
    &__list-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 0 0 1.5rem;
    }
    &__list-item {
        font-size: 1rem;
        transition: all 1s ease;
        cursor: pointer;
        @include tablet {
            font-size: 1.25rem;
        }
        &:hover {
            transform: scale(1.15);
            color: $calm-accent;
        }
    }
}

.current-page {
    width: 0.3rem;
    height: 0.3rem;
    // width: 2.5rem;
    // height: 0.1rem;
    background-color: $calm-accent;
    border-radius: 3rem;
    position: absolute;
    top: 4.2rem;
    opacity: 0;
    transition: all 2s ease;
    @include tablet {
        top: 6rem;
        width: 0.6rem;
        height: 0.6rem;
    }
    &--active {
        opacity: 1;
        // width: 0.3rem;
        // height: 0.3rem;
        width: 2.5rem;
        height: 0.1rem;
        @include tablet {
            width: 3rem;
            height: 0.15rem;
        }
    }
}