@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

a {
    text-decoration: none;
    color: $calm-black;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    @include tablet {
        padding: 2rem;
    }
    @include desktop {
        padding: 2rem 4rem;
    }
    &__logo {
        transition: opacity 2s ease-in-out 2s, color 4s ease;
        cursor: pointer;
        @include tablet {
            font-size: 2.5rem;
        }
        &:hover {
            color: $calm-accent;
            animation: 4s ease 0s infinite reverse forwards running breathe-inverse;
        }
    }
    &__logo--release { //release page
        &:hover {
            color: $calm-flame;
            animation: 4s ease 0s infinite reverse forwards running breathe-inverse;
        }
    }

    &__list {
        list-style: none;
        display: flex;
        padding: 0px;
    }
    &__list-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 0 0 1rem;
        @include tablet {
            margin-left: 2rem;
        }
    }
    &__list-home {
        font-size: 1rem;
        transition: all 1s ease;
        cursor: pointer;
        @include tablet {
            font-size: 1.25rem;
        }
        @include desktop {
            font-size: 1.35rem;
        }
        &:hover {
            transform: scale(1.15);
            color: $calm-accent;
        }
    }
    &__list-release {
        font-size: 1rem;
        transition: all 1s ease;
        cursor: pointer;
        @include tablet {
            font-size: 1.25rem;
        }
        @include desktop {
            font-size: 1.35rem;
        }
        &:hover {
            transform: scale(1.15);
            color: $calm-flame;
        }
    }
}

.current-page {
    width: 0.3rem;
    height: 0.3rem;
    // width: 2.5rem;
    // height: 0.1rem;
    border-radius: 3rem;
    position: absolute;
    top: 4.1rem;
    opacity: 0;
    // background-color: white;
    transition: height 2s ease, width 2s ease, opacity 2s ease, background-color 2s ease;
    // transition: all 2s ease;
    @include tablet {
        top: 6.9rem;
    }
    // @include desktop {
    //     top: 6.9rem;
    // }
    &--active-home {
        background-color: $calm-accent;
        opacity: 1;
        width: 2.4rem;
        height: 0.1rem;
        @include tablet {
            width: 2.9rem;
            height: 0.15rem;
        }
        @include desktop {
            width: 3.2rem;
        }
    }
    &--active-release {
        background-color: $calm-flame;
        opacity: 1;
        width: 3rem;
        height: 0.1rem;
        @include tablet {
            width: 3.8rem;
            height: 0.15rem;
        }
        @include desktop {
            width: 4.2rem;
        }
    }
}