@use "../../styles/partials/variables" as *;
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 0 2rem;
    // border-bottom: 1px solid $calm-accent;
    // border-radius: 0 0 0 1rem;
    // box-shadow: 0 0 1rem;

    &__list {
        list-style: none;
        display: flex;
        padding: 0px;
    }
    &__list-item {
        font-size: 1rem;
        margin: 0 0 0 1rem;
    }
}